body {
  font-family: 'Lato', sans-serif;
}

.RotisSerifStd-Italic { 
  font-family: RotisSerifStd-Italic;
  font-weight: normal;
  font-style: normal;
}

h1 { 
  font-family: RotisSerifStd-Italic; 
  font-weight: normal; 
  font-style: normal; 
  font-size: 3em;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5em;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 2em;
  line-height: 2em;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.5em;
}

#contactlink h3 {
  color: #777;
  text-decoration: underline;
}
#contactlink h3:hover {
  color: #000;
}


/* ====== ROWS ======= */

#row1 {

}

#row2 {
  border-top: 3px solid #ffc72c;
  border-bottom: 3px solid #ffc72c;
  background-image: url(../img/bokeh_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  /*height: 100%;*/
}

#navstickyrow {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}

#hiddenmenu h1 {
  padding: 0px 10px 0px 10px;
  font-size: 1.5em;
  color: #666;
}

.fpo {
  height: 75px;
  background-color: #666;
}

/* ================== */

#edivider {
  margin-top: 40px;
  z-index: 999;
}



.divider {
  color: #ffc72c;
  background-color: #ffc72c;
  height: 3px;
}


.btn-givenow {
  background: rgb(243,200,61); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(243,200,61,1) 0%, rgba(243,200,61,1) 50%, rgba(248,212,97,1) 51%, rgba(248,212,97,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,200,61,1)), color-stop(50%,rgba(243,200,61,1)), color-stop(51%,rgba(248,212,97,1)), color-stop(100%,rgba(248,212,97,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(243,200,61,1) 0%,rgba(243,200,61,1) 50%,rgba(248,212,97,1) 51%,rgba(248,212,97,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(243,200,61,1) 0%,rgba(243,200,61,1) 50%,rgba(248,212,97,1) 51%,rgba(248,212,97,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(243,200,61,1) 0%,rgba(243,200,61,1) 50%,rgba(248,212,97,1) 51%,rgba(248,212,97,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(243,200,61,1) 0%,rgba(243,200,61,1) 50%,rgba(248,212,97,1) 51%,rgba(248,212,97,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c83d', endColorstr='#f8d461',GradientType=0 ); /* IE6-9 */
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border: 0px solid #009900;
  padding: 5px;
  width: 275px;
  height: 50px;
}

#givenow:hover {
  background: -moz-linear-gradient(top, rgba(248,212,97,1) 0%, rgba(248,212,97,1) 50%, rgba(243,200,61,1) 51%, rgba(243,200,61,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(248,212,97,1)), color-stop(50%,rgba(248,212,97,1)), color-stop(51%,rgba(243,200,61,1)), color-stop(100%,rgba(243,200,61,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(248,212,97,1) 0%,rgba(248,212,97,1) 50%,rgba(243,200,61,1) 51%,rgba(243,200,61,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(248,212,97,1) 0%,rgba(248,212,97,1) 50%,rgba(243,200,61,1) 51%,rgba(243,200,61,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(248,212,97,1) 0%,rgba(248,212,97,1) 50%,rgba(243,200,61,1) 51%,rgba(243,200,61,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(248,212,97,1) 0%,rgba(248,212,97,1) 50%,rgba(243,200,61,1) 51%,rgba(243,200,61,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c83d', endColorstr='#f8d461',GradientType=0 ); /* IE6-9 */
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}

/* ====== HELPER CLASSES ======= */

.toppad {
  padding-top: 25px;
}

.toppadmore {
  padding-top: 40px;
}

.bottompad {
  padding-bottom: 25px;
}

.bottompadmore {
  padding-bottom: 50px;
}

.topmargin {
  margin-top: -25px;
}

.kerning {
  letter-spacing: 2px;
}


/* ====== BOOTSTRAP OVERRIDES ======= */

.jumbotron {
  background-image: url(../img/jumbobg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin-bottom: 0;
}

.carousel-control.left {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}
.carousel-control.right {
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}

.navbar {
  border-top: 3px #ffc72c solid;
  border-bottom: 3px #ffc72c solid;
  border-radius: 0;
  margin-bottom: 0;
  text-align: center;
}

.navbar-collapse.collapse {
  /*text-align: center;*/
}

.navbar-nav {
    display: inline-block;
    float: none;
    margin: 0;
}




